.bouncing-circle {
    width: 200px;
    height: 200px;
    background-color: #356cb9;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1); /* Default scale */
    transition: transform 0.1s ease-in-out;
    box-shadow: inset -15px -15px 30px rgba(0, 0, 0, 0.3), /* Inner shadow for depth */
      inset 15px 15px 30px rgba(255, 255, 255, 0.5), /* Highlight on top right */
      40px 40px 60px rgba(13, 39, 80, 0.4),
      -35px -35px 55px rgba(255, 255, 255, 1);
    animation: bounce 2s infinite, rotate 4s infinite linear;
  }
  
  @keyframes bounce {
    0%,
    100% {
      transform: translate(-50%, -50%) scale(1);
      box-shadow: inset -15px -15px 30px rgba(0, 0, 0, 0.3),
        inset 15px 15px 30px rgba(255, 255, 255, 0.5),
        0px 25px 50px rgba(0, 0, 0, 0.4);
    }
    50% {
      transform: translate(-50%, -75%) scale(1.2);
      box-shadow: inset -15px -15px 30px rgba(0, 0, 0, 0.3),
        inset 15px 15px 30px rgba(255, 255, 255, 0.5),
        0px 45px 90px rgba(0, 0, 0, 0.6);
    }
  }
  
  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) scale(1) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) scale(1) rotate(360deg);
    }
  }
  