.bouncing-circle {
  width: 150px;
  height: 150px;
  background-color: #73a4e7;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1); /* Default scale */
  transition: transform 0.1s ease-in-out;
  box-shadow: 28px 28px 50px rgba(13, 39, 80, 0.16),
    -23px -23px 45px rgba(255, 255, 255, 1);
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: translate(-50%, -75%) scale(1.2);
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.3);
  }
}
